# SBT
target/

# IntelliJ IDEA
.idea/
!.idea/runConfigurations/
!.idea/dictionaries/S

# General
#*.class
#logs/
#*.log
#.DS_Store

# SBT
#.cache/
#.history/
#.lib/
#dist/*
#target/
#lib_managed/
#src_managed/
#project/boot/
#project/plugins/project/
#temp/

# IntelliJ IDEA
#.idea/.name
#.idea/codeStyleSettings.xml
#.idea/compiler.xml
#.idea/copyright/
#.idea/encodings.xml
#.idea/highlighting.xml
#.idea/libraries/
#.idea/misc.xml
#.idea/modules/
#.idea/modules.xml
#.idea/sbt.xml
#.idea/scala_settings.xml
#.idea/scopes/
#.idea/uiDesigner.xml
#.idea/vcs.xml
#.idea/workspace.xml
